<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subject details</title>
  	{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div class="header">
      <h1 class="logo">
        <a href="{% url 'home' %}">Online Math</a>
      </h1>
      <div class="logpage">
        <a class="btn btn-info" href="{% url 'users:sign_in' %}">Log in</a>
        <a class="btn btn-info" href="/user/sign_up/">Sign up</a>
      </div>
      <div class="menu">
        <a  class="btn btn-info" href="/admin/">Admin</a>
        <a  class="btn btn-info" href="{% url 'users:profile' %}">Account</a>
        <a  class="btn btn-info" href="/exercise/">Exercises</a>
      </div>
    </div>

    <div class="container">
<div class="row">
      {%  if not user.is_authenticated %}
        <div class="col-sm ">
          <div class="card">
            <a href="{% url 'users:sign_up' %}">Sign Up</a><br>
            <a href="{% url 'users:sign_in' %}">Sign In</a><br>

          </div>
        </div>
      {% endif %}
      <div class="col-sm">
        <div class="card">

          {%  if user.is_authenticated %}
            {% if subject %}
              <h2>Subject name: {{ subject.title }}</h2>
              {% if is_current_user_enrolled %}

              <form class="" action="/subject/unenroll_user/" method="post">
                {% csrf_token %}
                  <input type="text" name="subject_id" value="{{subject.id}}" hidden>
                  <input type="submit" name="submit" value="Unenroll" class="btn btn-warning">
              </form>
                <h2>Enroll students: </h2>
              {% endif %}
              {% if not is_current_user_enrolled %}
                <h2>Enroll</h2>
                <form class="" action="/subject/enroll_user/" method="post">
                  {% csrf_token %}
                    <input type="text" name="subject_id" value="{{subject.id}}" hidden>
                    <input type="text" name="enroll_key" value="">
                    <input type="submit" name="submit" value="Enroll" class="btn btn-warning">
                </form>
              {% endif %}
            {% endif %}

            {% if not subject %}
              <h2>no subject {{ subject.title }}</h2>
            {% endif %}

            {% if enrolled_students %}
              <ul>
                {% for student in enrolled_students %}
                  <li><a class="btn btn-link" href="{% url 'users:student_details_view' student.id %}">{{ student.first_name }} {{ student.last_name }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if not enrolled_students %}
              <h2>No enrolled students</h2>
            {% endif %}

          {% endif %}
        </div>
      </div>
      </div>

    </div>
  </body>
</html>
