            /*==================================
                    Homa Page
            =================================*/
.maincontent{
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
}

.mainbackground{
  height: 400px;
}

/*==============================
    Background
==============================*/
.header{
  background-color:  #d9d9d9;
  border-bottom: 1px solid #8c8b8b;
}

#mainMenu li {
  margin: 5px;
}

.menu{
    display: inline;
}

.menu a{
    margin-top: -4.5%;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Bangers';
}

.logo {
    color: #3d7eff;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 25px;
    letter-spacing: 1px;
    margin-top: 1%;
    margin-left: 2%;
}

.mainMenu a{
    color: #111111;
    
}

.menu {
    margin-left: 55%;
    margin-top: -8%;
    padding: 1px 5px;
}
ul{
    list-style-type: none;
}

/*=============================================================
                SIGN UP PAGE
=============================================================*/

.infoText{
    color: red;
}

/*===========================================================
                Sign In Page
=============================================================*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*---------------------------------------------*/
/*a {
    color: #fff;
}*/

a:hover {
    text-decoration: none;
    color: #57b846;
    color: #fff;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}



/*---------------------------------------------*/
input {
    outline: none;
    /*border: none;*/
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ebeeef;
}


.wrap-login100 {
  width: 670px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/*==================================================================
[ Title form ]*/
.login100-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 70px 15px 74px 15px;
}

.login100-form-title-1 {
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.login100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54,84,99,0.7);
}





/*------------------------------------------------------------------
[ Input ]*/


.label-input100 {
  font-family: Poppins-Regular;
  font-size: 20px;
  color: #808080;
  line-height: 2;
  text-align: right;



}

/*---------------------------------------------*/
.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  margin-left: 50%;

}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 40px;
  background-color: #57b846;
  border-radius: 25px;

  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: #333333;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .login100-form {
    padding: 43px 15px 57px 117px;
  }
}

@media (max-width: 480px) {
  .login100-form {
    padding: 43px 15px 57px 15px;
  }

  .label-input100 {
    text-align: left;
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    padding: 0 5px;
  }
}

.signform{
    margin-left: 50%;
}

/*================================================================
                All Pages
==================================================================*/ 

body{
  background-color: #d9d9d9;
}




/*============================================================
          Student page
==============================================================*/

.userinfo{
  text-align: center;
}

.userinfo img{
  width: 15%;
  height: 15%;
}

.subjectname li{
  margin: 5px;
}



/*========================================================
          Footer
=========================================================*/
.footerbox{
  position: absolute; 
  height: 10%;
  width: 100%;
  background-color: rgba(11, 9, 11, 0.9);
}
.managed{
  margin-left: 7%;
  color: #ffffff;
}
.copyright{
  margin-top: -3%;
  margin-left: 80%;
  color: #ffffff;
}